*.iml
/.idea/caches
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/graphify-out
CLAUDE.md
ENTORNO_REGLAS_NEGOCIO_Y_DISENO.md
